:root{
  --clr-pr: 231 42% 28%;
  --clr-sec: 220 43% 97%;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
  cursor: default;
}

button,a{
  cursor: pointer;
  color: inherit;
}

a{
  color: inherit;
}

ul{
  list-style: none;
  padding: 0;
}

li{

}
